@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> This is the homepage associated with the Minez minecraft server.</p>
</div>
<div class="status">
    <h2>Server Status</h2>
    <p>
        Status: <span id="status"></span>
        <br>
        Active players right now: 
        <span id="playerCount"></span>
        <br>
    </p>
    <h2 id="loggedIn">Logged in:</h2>
    <ul id="players">
    </ul>

</div>
<div class="faq">
    <h2>FAQ:</h2>
    <h3>Who can join?</h3>
    <p>Anyone can join as long as the server is not crowded. If the servers experience a high load they will probably be upgraded to handle more players</p>
    <h3>How do i join?</h3>
    <p>Just set the ip to: minez.northeurope.cloudapp.azure.com</p>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/server.js"></script>